
<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="application-form1.component.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
	<div id="d3">
		<i class="fas fa-car-side" style="font-size:70px"></i>
	</div>
	<br>
	<div id="d1">		
		<h3>Sign in to Wheeloan</h3>
		<label >Email</label>
		<input class="form-control" type="text" name="email">
		<br/>
		<label >Password <a href="#"></a></label>
		<input class="form-control" type="text" name="password">
        <br/>	
        <label >Retype Password <a href="#"></a></label>
        <input class="form-control" type="text" name="password">
        <br>
		<button class="btn btn-success">Create Account</button>
	</div>
	<br/>
	<div id="d2">
		<p>Already have an account? <i class="far fa-hand-point-right"></i> <a href="#">Login</a></p>
	</div>
	<br><br><br><br><br>
		<pre>Terms         Contact         About Us</pre>
</body>
</html>


